.button-effect {
  background-color: #d94f3a;
  transition: 0.2s ease;
  border-color: black;

  &:hover {
    box-shadow: 0 0 20px;
    scale: 1.1;
    color: rgb(0, 0, 0);
    border-color: black;
    transition-duration: 1s;
    background-image: radial-gradient(circle at left top, var(--red-500), var(--red-100))
  }
}
