<separator [title]="titleProfile">
</separator>

<div class="flex align-content-center justify-content-center">
  <div class="size-card m-2 p-5 border-round">
    <div class=" grid">
      <div class="field col-12">
        <span class="p-float-label">
          <input type="text"
                 pInputText
                 id="nombre"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <label for="nombre">Nombre.</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text"
                 pInputText
                 id="apellidoP"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <label for="apellidoP">Apellido paterno.</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text"
                 pInputText
                 id="apellidoM"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <label for="apellidoM">Apellido Materno.</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text"
                 pInputText
                 id="doreccion"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <label for="doreccion">Dirección.</label>
        </span>
      </div>
      <div class="field col-12 md:col-6">
        <span class="p-float-label">
          <input type="text"
                 pInputText
                 id="email"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <label for="email">Correo electronico.</label>
        </span>
      </div>
      <div class="field col-12">
        <span class="p-float-label">
          <input type="text"
                 pInputText
                 id="telefono"
                 class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
          <label for="telefono">Numero de telefono.</label>
        </span>
      </div>
    </div>

    <div class="flex justify-content-end flex-wrap">
      <access-button [label]="labelEdit"
                    routerLink="/user-profile">
      </access-button>
    </div>
  </div>
</div>
