<div class="px-5 py-5 border-1 surface-border border-round">
   <div class="grid text-gray-300 flex justify-content-center align-content-center">
      <div class="col-12 md:col-2 flex justify-content-center align-items-center">
         <img src="/assets/img/logo-vegetta.avif"
               class="w-8 h-8 border-round" 
               alt="logo-ecommerce">
      </div>
      <div class="col-12 md:col-3 px-2">
         <div class="flex-column">
            <div class="flex justify-content-start align-content-center">
               <h3 class="border-bottom-3 surface-border">
                  Cantactanos
               </h3>
            </div>
            <div>
               <p>
                  <strong> 
                     <a href="tel:+52 833 146 94 86"
                        class="">
                           Telefono.
                     </a>
               </strong>
               </p>
               <p>
                  <strong> 
                     <a href="mailto:kevingonzalocruzmartinez@gmail.com"
                        class="" 
                        type="Email" 
                        target="_blank">
                        Email.
                     </a>
                  </strong>
               </p>
            </div>
            
         </div>
      </div>
      <div class="col-12 md:col-4 px-2">
         <div class="flex justify-content-start">
            <h3 class="border-bottom-3 surface-border text-white-alpha-60">
               Dudas y sugerencias
            </h3>
         </div>
         <p class="flex-colum justify-content-center">
            Si tienes alguna duda o sugerencia habla con nuestro: <a (click)="showDialog()"> <strong class="cursor-pointer">ChatBot</strong></a>.
         </p>
      </div>
      <div class="col-12 md:col-3 flex-column justify-content-center align-items-center">
         <div class="flex justify-content-center align-content-center">
            <h3 class="border-bottom-3 surface-border">
               redes sociales
            </h3>
         </div>

         <div class="flex justify-content-center align-content-center">
            <a href="https://www.facebook.com/kevin.gonzalo.1694" 
               target="_blank">
               <button class="p-button-outlined p-button-rounded text-blue-400 m-2"
                        pButton="right"
                        pTooltip="Facebook"
                        tooltipPosition="top" 
                        icon="pi pi-facebook">
               </button>
            </a>
            <a href="https://github.com/Kevin0910" 
               target="_blank">
               <button class="p-button-rounded text-black-black-70 m-2"
                        pButton
                        pTooltip="Github"
                        tooltipPosition="top" 
                        icon="pi pi-github">
               </button>
            </a>
            <a href="">
               <button class="p-button-outlined p-button-rounded p-button-raised text-pink-600 m-2"
                        pButton
                        pTooltip="Instagram"
                        tooltipPosition="top" 
                        icon="pi pi-instagram">
               </button>
            </a>
            <a href="https://api.whatsapp.com/send?phone=8331469486&text=Hola,%20Me%20interesa%20tu%20producto%20de%20la%20tienda%20en%20linea%20"
               target="_blank"> 
               <button class="p-button-outlined p-button-rounded text-green-400 m-2"
                        pButton
                        pTooltip="Whatsapp"
                        tooltipPosition="top" 
                        icon="pi pi-whatsapp">
               </button>
            </a>
         </div>
      </div>
   </div>
   <div class="grid">
      <div class="col-12">
         <div class="flex justify-content-center">
            <p class="text-center text-gray-300">
               <strong>© 2024 LegacyStore | Desarrollado por KAMCODE</strong>
            </p>
         </div>
      </div>
   </div>
</div>