<!-- <div class="grid">
   <div class="col-12 md:col-3 flex justify-content-center" 
        *ngFor="let item of categories">
     <div class="image-container flex justify-content-center align-items-center cursor-pointer"
          (click)="idCategoria(item.id)">
       <img [src]="urlApiImg + item.imagenProducto" 
            alt="item.nombre"
            class="image border-circle w-7rem h-7rem m-2 cursor-pointer"
            pTooltip="{{item.nombre}}"
            tooltipPosition="top">
       <div class="overlay">
         <p class="overlay-text">{{item.nombre}}</p>
       </div>
     </div>
   </div>
 </div>
  -->